<div class="p-8">
  <form
    id="form"
    [formGroup]="myForm"
    (ngSubmit)="onSubmit(myForm)"
    class="container mx-auto bg-white dark:bg-gray-800 shadow rounded">
    <div class="xl:w-full border-b border-gray-300 dark:border-gray-700 py-5">
      <div class="flex items-center w-11/12 mx-auto">
        <h1
          role="heading"
          class="text-lg text-gray-800 dark:text-gray-100 font-bold">
          Personal Information
        </h1>
      </div>
    </div>
    <div class="w-11/12 mx-auto">
      <div class="container mx-auto">
        <div class="my-8 mx-auto w-full xl:mx-0">
          <div class="w-full xl:flex lg:flex md:flex flex-wrap justify-between">
            <mylib-text-input
              class="w-full"
              labelText="First name"
              placeholder="Enter your first name"
              formControlName="firstName">
            </mylib-text-input>

            <mylib-text-input
              class="w-full"
              labelText="Last name"
              formControlName="lastName"
              helpText="This is a help text"
              [showClearButton]="true">
            </mylib-text-input>

            <mylib-text-input
              class="w-full"
              labelText="Read only"
              formControlName="readOnly"
              [isReadOnly]="true"
              [isLoading]="true">
            </mylib-text-input>

            <mylib-text-input
              class="w-full"
              labelText="Disabled"
              formControlName="disabled"
              helpText="This is a help text">
            </mylib-text-input>
          </div>
        </div>
      </div>
    </div>
    <div
      class="w-full py-4 sm:px-12 px-4 bg-gray-100 dark:bg-gray-700 mt-6 flex justify-end rounded-bl rounded-br">
      <button
        role="button"
        aria-label="restore form"
        class="btn text-sm focus:outline-none text-gray-600 dark:text-gray-400 border border-gray-300 dark:hover:border-gray-500 py-2 px-6 mr-4 rounded hover:bg-gray-200 transition duration-150 ease-in-out focus:ring-2 focus:ring-offset-2 focus:ring-gray-700">
        Restore
      </button>
      <button
        role="button"
        aria-label="save form"
        class="focus:ring-2 focus:ring-offset-2 focus:ring-indigo-700 bg-indigo-700 transition duration-150 ease-in-out hover:bg-indigo-600 rounded text-white px-8 py-2 text-sm focus:outline-none"
        type="submit">
        Save
      </button>
    </div>
  </form>
</div>

<div class="bg-slate-200 p-4">
  <p>Form valid: {{ myForm.valid }}</p>
  <p>Form value: {{ myForm.value | json }}</p>
</div>
