@import './01.variables.scss';

// Define color variables
$background-color: #f0f0f0;
$heading-color: #333;
$link-color: $primary-color;
$border-color: #ccc;

body {
  background-color: $background-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $heading-color;
}

a {
  color: $link-color;
}
