@import './01.variables.scss';

.modal-overlay {
  background-color: $modal-bg;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: $z-index-modal;
}

.modal {
  background-color: #fff;
  padding: $spacing-medium;
  border-radius: $border-radius;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
